<html>
<head>
    <title>Antispam simplefied view</title>
</head>
<body>
Test E-mail Configuration

<br/><br/><br/>
<form method="post">
    Email<br/>
    <input type="text" name="config[email]" value="{{ config.email }}"></br>
    Login<br/>
    <input type="text" name="config[login]" value="{{ config.login }}"></br>
    Pass<br/>
    <input type="text" name="config[password]" value="{{ config.password }}"></br>
    IMAP Server<br/>
    <input type="text" name="config[imap]" value="{{ config.imap }}"></br>
    <br/>
    <input type="submit" value="SAVE">

</form>
</body>
</html>
