{% extends 'AntispamBundle::main.html.twig' %}
{% block title %}Domain Whitelist{% endblock %}
{% block page_title %}Domain Whitelist{% endblock %}

{% block body %}
    <div class="add-form">
        <form method="post" action="{{ path('antispam_whitelist_add') }}" class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" name="host" placeholder="Enter trusted domain (e.g. company.com)" required style="min-width:300px;">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add</button>
                </span>
            </div>
        </form>
    </div>

    {% if list|length > 0 %}
    <ul class="list-group">
        {% for l in list %}
        <li class="list-group-item">
            <a href="{{ path('antispam_whitelist_del',{'id':l.id}) }}" class="btn btn-danger btn-xs list-actions" onclick="return confirm('Remove this domain from whitelist?')">
                <span class="glyphicon glyphicon-remove"></span> Delete
            </a>
            <span class="badge badge-counter">{{ l.counter }} hits</span>
            <span class="glyphicon glyphicon-globe"></span> {{ l.host }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="empty-state">
        <span class="glyphicon glyphicon-ok-circle"></span>
        <p>No domains in whitelist yet</p>
        <p class="text-muted">Add trusted domains to always allow their emails</p>
    </div>
    {% endif %}
{% endblock %}
