{% extends 'AntispamBundle::main.html.twig' %}
{% block title %}E-mail Whitelist{% endblock %}
{% block page_title %}E-mail Whitelist{% endblock %}

{% block body %}
    <div class="add-form">
        <form method="post" action="{{ path('antispam_emailwhitelist_add') }}" class="form-inline">
            <div class="input-group">
                <input type="email" class="form-control" name="email" placeholder="Enter trusted email (e.g. friend@example.com)" required style="min-width:300px;">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add</button>
                </span>
            </div>
        </form>
    </div>

    {% if list|length > 0 %}
    <ul class="list-group">
        {% for l in list %}
        <li class="list-group-item">
            <a href="{{ path('antispam_emailwhitelist_del',{'id':l.id}) }}" class="btn btn-danger btn-xs list-actions" onclick="return confirm('Remove this email from whitelist?')">
                <span class="glyphicon glyphicon-remove"></span> Delete
            </a>
            <span class="badge badge-counter">{{ l.counter }} hits</span>
            <span class="glyphicon glyphicon-envelope"></span> {{ l.whitelistemail }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="empty-state">
        <span class="glyphicon glyphicon-ok-circle"></span>
        <p>No emails in whitelist yet</p>
        <p class="text-muted">Add trusted email addresses to always allow</p>
    </div>
    {% endif %}
{% endblock %}
