{% extends 'AntispamBundle::main.html.twig' %}
{% block body %}
     <form method="post" action="{{ path('antispam_emailwhitelist_add') }}">
         <div class="input-group"  >
             <input type="text" class="form-control" name="email" placeholder="email to add" >

         </div>
         <div class="input-group" style="margin-top:10px;" >
             <input type="submit"  class="btn btn-primary  " value="Dodaj" >
         </div>

     </form>


     <ul class="list-group">
    {% for l in list %}
         <li class="list-group-item btn-group-xs">
             <a href="{{ path('antispam_emailwhitelist_del',{'id':l.id}) }}" class="btn btn-danger btn-sm badge">Delete</a>
             <span class="badge">{{ l.counter }}</span>

             {{ l.whitelistemail }}
         </li>
    {%  endfor %}
     </ul>
{% endblock %}

{% block title %}
   E-mail Whitelist


{% endblock %}